doctype html
html
  head
    meta(charset='utf-8')
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | &#x9;
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    | &#x9;
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    | &#x9;
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    | &#x9;
    title  Navigation Real Time Map 
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Navigation Real Time Map
        | &#x9;
        ul.nav.navbar-nav
          li.active
            a(href="https://www.w3schools.com") Home
          | &#x9;  
          li
            a(href='#')  Mapa 
          | &#x9;  
          li
            a(href='#')  Acotaciones de mapa
          | &#x9;  
          li
            a(href='#') Proyectos futuros
