extends layout

block content
	h3= title
	form#form_add_student(name="addstudent",method="post",action="addstudent")
		span Name
		span &nbsp;
		input#input_name(type="text",placeholder="student", name="student")
		br
		br
		span Age
		span &nbsp;
		input#input_age(type="text",placeholder="age", name="age")
		br
		br
		button#submit_student(type="submit") submit